.about-us-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    margin: 20px auto;
}


.about-us-image img{
    width:400px;
    margin-right:20px;
}