.product-card{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.222);
    height: 420px;
    width:200px;
    border-radius: 10px;
    color:black; 
    text-align: center;
    align-items:center;
    background-color: #a3dc9a97;    
}



.product-card-image{
    width: 100%;
}

.name{
    margin-top: 25px;
}

.currency{
    margin-top: 25px;
}